/* Importa las utilidades principales de Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importa fuentes personalizadas */
@import "./assets/fonts/slick-fonts.css";

@font-face {
  font-family: "slick";
  src: url("/src/assets/fonts/slick.woff") format("woff"),
    url("/src/assets/fonts/slick.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
